@import './utils.scss';

body {
  font-size: 12px;
  background: #009688;
}
input {
  outline: none;
}
#gameCanvas {
  background: #879372;
  box-shadow: 0 0 8px #879372;
  width: to-rem(275);
  height: to-rem(375);
  max-width: 550px;
  max-height: 750px;
}
#loadingToast {
  position: absolute;
  left: 50%;
  top: 50px;
  transform: translateX(-50%);
  // width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.gameCanvasWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  .canvasWrapper {
    position: relative;
  }
  .infoWrapper {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    .source,
    .fps {
      display: flex;
      margin: to-rem(10) 0;
    }
  }
}
.actions {
  display: none;
  position: fixed;
  bottom: 3.5rem;
  left: 50%;
  transform: translateX(-50%);
  border: 0;
  width: 8rem;
  height: 3rem;
  margin: auto;
  font-size: to-rem(18);
  .act-btn {
    width: 2.5rem;
    height: 2.5rem;
    background: #0064ff;
    border-radius: 50%;
    outline: none;
    border: 0;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    &:active {
      box-shadow: 0 0 5px black;
    }
    &.up {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, -100%);
    }
    &.down {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, 100%);
    }
    &.left {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translate(0, -50%);
    }
    &.right {
      position: absolute;
      top: 50%;
      right: 0;
      transform: translate(0, -50%);
    }
  }
}
#canvasProgressBar {
  width: to-rem(150);
  height: 25px;
}
#gameOver {
  display: none;
  position: absolute;
  left: 50%;
  top: to-rem(150);
  transform: translateX(-50%);
  background: #fff;
  padding: 20px;
}
.gameOverWrapper {
  display: none;
  position: absolute;
  left: 50%;
  top: to-rem(100);
  transform: translateX(-50%);
  width: to-rem(140);
  height: to-rem(50);
  line-height: to-rem(50);
  font-size: to-rem(20);
  background: linear-gradient(#a9ff00, #bf1a46);
  border-radius: to-rem(20);
  text-align: center;
  animation: rule_animate 8s cubic-bezier(0.04, 0.88, 0.04, 1) infinite;
}
@keyframes rule_animate {
  0% {
    transform: translate(-50%, -50%) scale(0.2, 0.2);
  }
  8% {
    transform: translate(-50%, -50%) scale(0.4, 0.4);
  }
  16% {
    transform: translate(-50%, -50%) scale(0.3, 0.3);
  }
  24% {
    transform: translate(-50%, -50%) scale(0.5, 0.5);
  }
  32% {
    transform: translate(-50%, -50%) scale(0.4, 0.4);
  }
  40% {
    transform: translate(-50%, -50%) scale(0.6, 0.6);
  }
  48% {
    transform: translate(-50%, -50%) scale(0.5, 0.5);
  }
  56% {
    transform: translate(-50%, -50%) scale(0.7, 0.7);
  }
  64% {
    transform: translate(-50%, -50%) scale(0.6, 0.6);
  }
  72% {
    transform: translate(-50%, -50%) scale(0.8, 0.8);
  }
  80% {
    transform: translate(-50%, -50%) scale(0.7, 0.7);
  }
  88% {
    transform: translate(-50%, -50%) scale(0.9, 0.9);
  }
  96% {
    transform: translate(-50%, -50%) scale(0.8, 0.8);
  }
  100% {
    transform: translate(-50%, -50%) scale(1, 1);
  }
}
